@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@inject SignInManager<IdentityUser> _sm
@inject UserManager<IdentityUser> _um

@if (_sm.IsSignedIn(User))
{
    <div>
        <span>Welcome @User.Identity.Name</span>
    </div>
}
else
{
    <div>
        <a asp-area="auth" asp-page="Register">Registrovat</a>
        |
        <a asp-area="auth" asp-page="Login">Přihlásit</a>

    </div>
}